* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: 100vh;
}

ul {
  list-style-type: none;
}

main {
  display: flex;
}

.task {
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 5px;
  position: relative;
  cursor: pointer;
  transition: 300ms;
  border: none;
  box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.073);
  text-align: center;
}

.task:hover {
  background-color: rgba(11, 104, 185, 0.222);
  box-shadow: none;
}


