* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --veryLightGray: hsl(0, 0%, 98%);
    --grayishBlue: hsl(229, 6%, 66%);
    --veryDarkBlue: hsl(234, 12%, 34%);
}

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

html {
    min-height: 100%;
}

body {
    min-height: 100vh;
    background: var(--veryLightGray);
    color: var(--grayishBlue);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    animation-name: bgchangecolor;
    animation-duration: 14s;
    animation-iteration-count: infinite;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 50px 0px 50px 0px;
}

.head {
    text-align: center;
}

.h1_head {
    font-weight: 200;
    margin-bottom: 20px;
}

.p_head {
    font-size: 1.15em;
    line-height: 1.5em;
    padding: 0px 40px 0px 40px;
}

.h1_head span {
    color: var(--veryDarkBlue);
}

.grid {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 250px 250px 250px;
    justify-content: center;
    column-gap: 75px;
    row-gap: 20px;
}

.card {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    padding: 20px;
    box-shadow: 0px 6px 15px hsla(229, 6%, 66%, 0.267);
    border-radius: 6px;
    font-size: 0.8em;
    color: var(--veryDarkBlue);
    border: 2px solid white;
    transition: 300ms;
    background-color: white;
    justify-content: space-between;
    filter: grayscale(80%);
    cursor: pointer;
}

.card2 {
    display: flex;
    flex-direction: column;
    width: 350px;
    height: 250px;
    padding: 20px;
    box-shadow: 0px 6px 15px hsla(229, 6%, 66%, 0.267);
    border-radius: 6px;
    font-size: 0.8em;
    color: var(--veryDarkBlue);
    border: 2px solid white;
    transition: 300ms;
    background-color: white;
    justify-content: space-between;
    filter: grayscale(0);
    cursor: pointer;
    transform: scale(1.03);
}

.card h2 {
    margin-bottom: 10px;
}

.card p {
    color: hsl(229, 6%, 66%);
    line-height: 2em;
    padding-left: 5px;
}

#card1 {
    grid-column-start: 1;
    grid-row-start: 2;
}

#card2 {
    grid-column-start: 2;
    grid-row-start: 1;
    margin-top: 45%;
}

#card3 {
    grid-column-start: 3;
    grid-row-start: 2;
}

#card4 {
    grid-column-start: 2;
    grid-row-start: 3;
    margin-top: -45%;
}

.image {
    display: flex;
    justify-content: flex-end;
}

.img {
    transition: 100ms;
    transform: rotate(0deg);
}

.img2 {
    animation-duration: 250ms;
    animation-name: slidein;
    transition: 200ms;
}


@keyframes bgchangecolor {
    from {
        background-color: var(--veryLightGray);
    }

    35% {
        background-color: var(--grayishBlue);
        color: white;
    }

    50% {
        background-color: rgb(12, 27, 49);
        color: white;
    }

    75% {
        background-color: var(--veryLightGray);
    }
}

@keyframes slidein {
    from {
        rotate: 0deg;
    }

    25% {
        rotate: 15deg;
    }

    75% {
        rotate: -15deg;
    }

    to {
        rotate: 0deg;
    }
}

@media all and (max-width: 800px) {

    .head {
        margin-bottom: 20px;
    }

    .grid {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: auto;
    }

    #card2, #card4 {
        margin-top: 0;
    }
}